* {
    margin: 0px;
    padding: 0px;
}
.portada {
    width: 100%;
}
a {
    font-family: "Roboto", sans-serif;
}
h2 {
    font-family: "Freeman", sans-serif;
}
p {
    font-family: "Roboto", sans-serif;
}