.background-image {
    background-image: url('../images/barberia/barberia.jpg');
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Asegura que la imagen cubra todo el espacio disponible */
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.arrows {
    margin-top: 90px;
}
.arrow {
    font-size: 3rem;
    margin: 5px 0;
    // opacity: 0;
}
.mainindex {
    background-color: $color-fondo;
}