.main-servicios {
    background-color: red;
    .trabajos{
        border-top: 1px black solid;
        .serv1-1{    
            display: grid;
            grid-template-columns: 90%, 10% ;
            grid-template-rows: 80px repeat(3, 40px);
            grid-template-areas:
            "areafooterlogo";
            padding: 1% 2%;
        }
    }
    .premium{
        border-top: 1px black solid;
    }
    .tradicional{
        border-top: 1px black solid;
    }
}